{{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.event) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}