{% extends '_admin.base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Photos</h1>
                <table class="table table-striped">
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Event</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {#{{ dump(photos) }}#}

                    {% for photo in photos %}
                        <tr>
                            <td><img src="{{ asset(photo.name) }}" width="70" height="auto"></td>
                            <td>{{ photo.name }}</td>
                            <td>{{ photo.event.name }}</td>
                            <td>
                                <a href="{{ path('admin_photo_edit', {'id': photo.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil">edit</span></a>
                            </td>
                            <td>
                                <a href="{{ path('admin_photo_delete', {'id': photo.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil">delete</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock body %}