{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(events) }}


    {% block navigation_panel %}{% endblock navigation_panel %}
    {% block fullwidth_slider %}{% endblock fullwidth_slider %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
            <th>Last updated</th>

        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>
                    <a href="{{ path('single_event_show', {'eventName': event.name}) }}">
                        {{ event.name }}
                    </a>
                </td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.updatedAt|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}