<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Dmitry Sosedov">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


            <!-- Favicons -->
            <link rel="shortcut icon" href="{{ asset('bundles/app/images/favicon.png') }}">
            <link rel="apple-touch-icon" href="{{ asset('bundles/app/images/apple-touch-icon.png') }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/app/images/apple-touch-icon-72x72.png') }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/app/images/apple-touch-icon-114x114.png') }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block head_stylesheets %}
            <!-- CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style-responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/animate.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/vertical-rhythm.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/magnific-popup.css') }}">

        <title>{% block title %}ТангоЦветов &mdash; Красота спасет Мир!{% endblock title %}</title>



        {% endblock head_stylesheets %}

    </head>
{% endblock head %}
<body>

{% block navigation_panel %}
    <!-- Navigation panel -->
    <nav class="main-nav dark transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="#top" class="logo">
                    <img src="{{ asset('bundles/app/images/logo-white.png') }}" alt="" />
                </a>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist scroll-nav local-scroll">
                    <li class="active"><a href="{{ path('homepage') }}#home">Home</a></li>
                    <li><a href="{{ path('homepage') }}#about">О нас</a></li>
                    <li><a href="{{ path('homepage') }}#services">Услуги</a></li>
                    <li><a href="{{ path('homepage') }}#portfolio">Портфолио</a></li>
                    <li><a href="{{ path('homepage') }}#news">Новости</a></li>
                    <li><a href="{{ path('homepage') }}#contact">Контакты</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation panel -->
{% endblock navigation_panel %}



    {% block fullwidth_slider %}
        <!-- Fullwidth Slider -->
        <div class="home-section fullwidth-slider bg-dark" id="home">


            <!-- Slide Item -->
            <section class="home-section bg-scroll bg-dark-alfa-30" data-background="{{ asset('bundles/app/images/portfolio/frontpage/tulip_flowers-1920x1080.jpg') }}">
                <div class="js-height-full container">

                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">

                            <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                Мы создаем красоту
                            </h1>

                            <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                Танго Цветов
                            </h2>

                            <div class="local-scroll">
                                <a href="#about" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">О нас</a>
                                <span class="hidden-xs">&nbsp;</span>
                                <a href="http://vimeo.com/50201327" class="btn btn-mod btn-border-w btn-medium btn-round lightbox mfp-iframe">Видео</a>
                            </div>

                        </div>
                    </div>
                    <!-- End Hero Content -->

                </div>
            </section>
            <!-- End Slide Item -->

            <!-- Slide Item -->
            <section class="home-section bg-scroll bg-dark-alfa-50" data-background="{{ asset('bundles/app/images/portfolio/frontpage/tulips_garden-1920x1080.jpg') }}">
                <div class="js-height-full container">

                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">

                            <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                Брендинг / Дизайнг / Оформление / Фото Сопровождение
                            </h1>

                            <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                Цветочные Боги
                            </h2>

                            <div class="local-scroll">
                                <a href="#about" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">О нас</a>
                                <span class="hidden-xs">&nbsp;</span>
                                <a href="http://vimeo.com/50201327" class="btn btn-mod btn-border-w btn-medium btn-round lightbox mfp-iframe">Видео</a>
                            </div>

                        </div>
                    </div>
                    <!-- End Hero Content -->

                </div>
            </section>
            <!-- End Slide Item -->

            <!-- Slide Item -->
            <section class="home-section bg-scroll bg-dark-alfa-30" data-background="{{ asset('bundles/app/images/portfolio/frontpage/tulips_in_bloom-1920x1080.jpg') }}">
                <div class="js-height-full container">

                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">

                            <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                                Воплощаем в реальность ваши фантазии
                            </h2>

                            <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                                Мир Цветов
                            </h1>

                            <div>
                                <a href="pages-pricing-1.html" class="btn btn-mod btn-border-w btn-medium btn-round">Get Pricing</a>
                            </div>

                        </div>
                    </div>
                    <!-- End Hero Content -->

                </div>
            </section>
            <!-- End Slide Item -->

        </div>
        <!-- End Fullwidth Slider -->
    {% endblock fullwidth_slider %}


    {% block body %}{% endblock body %}









        {% block footer %}
        <!-- Foter -->
        <footer class="page-section bg-gray-lighter footer pb-60">
            <div class="container">

                <!-- Footer Logo -->
                <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.2s">
                    <a href="#top"><img src="{{ asset('bundles/app/images/logo-footer.png') }}" width="78" height="36" alt="" /></a>
                </div>
                <!-- End Footer Logo -->

                <!-- Social Links -->
                <div class="footer-social-links mb-110 mb-xs-60">
                    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                    <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
                <!-- End Social Links -->

                <!-- Footer Text -->
                <div class="footer-text">

                    <!-- Copyright -->
                    <div class="footer-copy font-alt">
                        <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; DMS Studio 2016</a>.
                    </div>
                    <!-- End Copyright -->

                    <div class="footer-made">
                        Made with love for great people.
                    </div>

                </div>
                <!-- End Footer Text -->

            </div>


            <!-- Top Link -->
            <div class="local-scroll">
                <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
            </div>
            <!-- End Top Link -->

        </footer>
        <!-- End Foter -->
        {% endblock footer %}

        {% block javascripts %}
            <!-- JS -->
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-1.11.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.easing.1.3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/SmoothScroll.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.scrollTo.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.localScroll.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.viewport.mini.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.countTo.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.appear.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.sticky.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.parallax-1.1.3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.fitvids.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/isotope.pkgd.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/imagesloaded.pkgd.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.magnific-popup.min.js') }}"></script>
            <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below
            **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/gmap3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/wow.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/masonry.pkgd.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.simple-text-rotator.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/all.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/contact-form.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.ajaxchimp.min.js') }}"></script>
            <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        {% endblock javascripts %}
    </body>
</html>