{% extends '_admin.base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Are you sure you want to delete this event: " {{ deleteForm.vars.value.name }} "?</h3>

                {{ form_start(deleteForm) }}
                    {{ form_errors(deleteForm) }}

                    {{ form_row(deleteForm.delete) }}
                    {{ form_row(deleteForm.cancel) }}

                    {#<div class="row" >#}
                        {#<div class="col-sm-offset-2 col-sm-10">#}
                            {#<button name="delete" type="submit" value="Delete" class="btn btn-primary">Delete</button>#}
                            {#<button name="cancel" type="submit" value="Cancel" class="btn btn-default">Cancel</button>#}
                        {#</div>#}
                    {#</div>#}

                {{ form_end(deleteForm) }}
            </div>
        </div>
    </div>
{% endblock body %}