{% block sidebar %}
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="{{ path('admin_index') }}">
                    <i class="icon_house_alt"></i>
                    <span>Tango Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('admin_user_list') }}" class="">
                    <i class="icon_ribbon_alt"></i>
                    <span>Users</span>
                    {#<span class="menu-arrow arrow_carrot-right"></span>#}
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('admin_comment_list') }}" class="">
                    <i class="icon_desktop"></i>
                    <span>Comments</span>
                    {#<span class="menu-arrow arrow_carrot-right"></span>#}
                </a>
                {#<ul class="sub">#}
                    {#<li><a class="" href="zecrop.html">Ze Crop</a></li>#}
                    {#<li><a class="" href="stylishbutton.html">Premium Button</a></li>#}
                    {#<li><a class="" href="sliders.html">Sliders</a></li>#}
                    {#<li><a class="" href="star_rating.html">Star Rating</a></li>#}
                    {#<li><a class="" href="ui-animation.html">CSS3 Animation</a></li>#}
                {#</ul>#}
            </li>
            <li>
                <a class="" href="{{ path('admin_photo_list') }}">
                    <i class="icon_genius"></i>
                    <span>Photos</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_piechart"></i>
                    <span>Events</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{{ path('admin_event_new') }}">New</a></li>
                    <li><a class="" href="{{ path('admin_event_list') }}">List</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>Video</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="form_component.html">Form Components</a></li>
                    <li><a class="" href="form_wizard.html">Form Wizard</a></li>
                    <li><a class="" href="form_validation.html">Form Validation</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_drive"></i>
                    <span>Rating</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="premium-form/mailgun.html">Mailgun Validate Email</a></li>
                    <li><a class="" href="premium-form/selector.html">Credit Card Validation</a></li>
                    <li><a class="" href="premium-form/typehead.html">Form With Typehead</a></li>
                    <li><a class="" href="premium-form/dynamic.html">Dynamic Fields</a></li>
                    <li><a class="" href="premium-form/dynamic2.html">Dynamic Phone Number</a></li>
                    <li><a class="" href="premium-form/dynamic3.html">Dynamic Address Form</a></li>
                    <li><a class="" href="premium-form/dynamic4.html">Multi Dynamic Option</a></li>
                    <li><a class="" href="premium-form/file.html">File Validator</a></li>
                    <li><a class="" href="premium-form/tab.html">Tab Dynamic Form</a></li>
                    <li><a class="" href="premium-form/ajaxSubmit.html">Ajax Submit</a></li>
                    <li><a class="" href="premium-form/attribute.html">Sign Up With Attribute</a></li>
                    <li><a class="" href="premium-form/collapse.html">Collapseble Form</a></li>
                    <li><a class="" href="premium-form/choice.html">Force Select Choice</a></li>
                    <li><a class="" href="premium-form/container.html">Custom Error Container</a></li>
                    <li><a class="" href="premium-form/container2.html">Error Container-2</a></li>
                    <li><a class="" href="premium-form/container3.html">Show Error Tooltip</a></li>
                    <li><a class="" href="premium-form/container4.html">Customizing Error</a></li>
                    <li><a class="" href="premium-form/sem-horizontalForm.html">Semantic UI Form</a></li>
                    <li><a class="" href="premium-form/sem-horizontalFormTooltip.html">Semantic UI Form-2</a></li>
                    <li><a class="" href="premium-form/sem-stackedForm.html">Semantic UI Form-3</a></li>
                    <li><a class="" href="premium-form/sem-stackedFormTooltip.html">Semantic UI Form-4</a></li>
                    <li><a class="" href="premium-form/uikit-horizontalForm.html">Ui Kit Form</a></li>
                    <li><a class="" href="premium-form/uikit-horizontalFormTooltip.html">Ui Kit Form2</a></li>
                    <li><a class="" href="premium-form/uikit-stackedForm.html">Ui Kit Form3</a></li>
                    <li><a class="" href="premium-form/uikit-stackedFormTooltip.html">Ui Kit Form4</a></li>
                    <li><a class="" href="premium-form/defaultMessage.html">Default Messages</a></li>
                    <li><a class="" href="premium-form/enable.html">Enable OnCheck</a></li>
                    <li><a class="" href="premium-form/enable2.html">Enable/Disable Validator</a></li>
                    <li><a class="" href="premium-form/invisible.html">Dynamic Contact Field</a></li>
                    <li><a class="" href="premium-form/multiple.html">Multiple Elements</a></li>
                    <li><a class="" href="premium-form/event.html">Signup With Choice</a></li>
                    <li><a class="" href="premium-form/event2.html">Zip/Pin Code Validator</a></li>
                    <li><a class="" href="premium-form/event3.html">Dynamic Captcha</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_table"></i>
                    <span>Category</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="basic_table.html">Basic Table</a></li>
                    <li><a class="" href="dynamic_table.html">Dynamic Table</a></li>
                </ul>
            </li>
            <li>
                <a class="" href="inbox.html">
                    <i class="icon_mail_alt"></i>
                    <span>Mail </span>
                    <span class="label label-danger pull-right mail-info badge">2</span>
                </a>
            </li>
            <li>
                <a class="" href="calendar.html">
                    <i class="icon_calendar"></i>
                    <span>Calendar</span>
                    <span class="label label-danger pull-right mail-info badge">5</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

{% endblock sidebar %}
