{{ form_start(commentForm) }}

    {{ form_errors(commentForm) }}

    {{ form_row(commentForm.comment) }}
    {{ form_row(commentForm.event) }}


<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(commentForm) }}