{% extends '_admin.base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Registered Users</h1>
                <table class="table table-striped">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Enabled</th>
                        <th>Created At</th>
                        <th>Last Visited</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {#{{ dump(users) }}#}

                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.enabled }}</td>
                            <td>{{ user.createdAt|date("jS F \\a\\t m/d/Y") }}</td>
                            <td>{{ user.updatedAt|date("jS F \\a\\t g:ia m/d/Y") }}</td>
                            <td>
                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                            </td>
                            <td>
                                <a role="menuitem" tabindex="-1"
                                   href="#" class="delete">
                                    <i class="fa fa-times"></i>
                                    {{ form(deleteForms[user.id], { 'attr' : { 'style' : 'display:inline-block;color:black', 'class' : 'ajaxForm'}}) }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/admin/js/bootbox.min.js') }}"></script>
{% endblock javascripts %}

{% block bottom_scripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function () {
            Main.init();
            TableData.init();
            TableExport.init();
        });

        $('body').on('submit', '.ajaxForm', function (e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var method = "DELETE";
            var serializedForm = $(this).serialize();
            var form= $(this);
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    $.ajax({
                        url: url,
                        type: method,
                        data: serializedForm,
                        success: function (result) {
                            form.closest('tr').remove();
                        },
                        error: function (e) {
                            var result = '';
                            for (i=0; i<=e.responseJSON.length; i++){
                                if(e.responseJSON[i] != undefined) {
                                    result += e.responseJSON[i] + "<br />"
                                }
                            }
                            bootbox.alert(result);
                        }
                    });
                }
            });
        });

    </script>
{% endblock bottom_scripts %}